<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">人工客服</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a>在线咨询</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>帮助中心</dt>
            </dl>
            <dl class="col-article">
                <dt>关注我们</dt>
            </dl>
            <dl class="col-article">
                <dt>线下门店</dt>
            </dl>
            <dl class="col-article">
                <dt>关于</dt>
            </dl>
        </div>

    </div>
</div>
</html>